body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    background-color: rgb(212, 224, 245);
}

li::marker {
    color: rgb(226, 80, 43);
}

.imagestack{
    margin-top: 50px;
    margin-bottom: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    width: 500px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    /* border-image: 10px solid;
    border-image-source: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiBbsQVN3eQCXM59kaLPboiwc0c9KBnq1W2Q&s"); */
}
.foodcrop {
    width: 500px;
    height: 350px;
    background: url('image.png');
    background-position: 50% 50%;
    background-size: cover;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.foodshot {

    box-sizing: border-box;
}

.box {
    margin-top: -325px;
    margin-bottom: 50px;
    display: block;
    transform: rotate(45deg);
    box-sizing: border-box;
    border: 15px solid rgb(120, 224, 250);
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
}

.invert {
    mix-blend-mode: difference;
}

.sidedish {
    color: rgb(10, 81, 173);
}

.dessert {
    color: darkorchid;
}

.pasta {
    color: darkred;
}

.stews {
    color: green;
}